# For Loop

In [2]:
x = ['a', 'b', 'c']
for a in x:
    print(a)

# work on 'slice' copy of x
for a in x[:]:
    if a =='a':
        a = 'd'
    print(a)

a
b
c
d
b
c

In [94]:
a = (1,2,3,4)
for i,v in enumerate(a):
    print(f'{i} -- {v}')

0 -- 1
1 -- 2
2 -- 3
3 -- 4

In [97]:
questions = ['name', 'quest', 'favorite color']
answers = ['lancelot', 'the holy grail', 'blue']

for q, a in zip(questions, answers):
    print(f'{q} -- {a}')

name -- lancelot
quest -- the holy grail
favorite color -- blue

# Arbitrary Argument Lists

In [3]:
def concat(*args, sep='/'):
    return sep.join(args)

concat('Hello', 'World', 'Christian')

'Hello/World/Christian'

In [5]:
args = [3,6]
a= list(range(*args))

a

[3, 4, 5]

# Lambda Expressions

In [8]:
pairs = [(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]
pairs.sort(key=lambda p:p[1])
pairs

[(4, 'four'), (1, 'one'), (3, 'three'), (2, 'two')]

# List Comprehensions

In [9]:
squares = [x**2 for x in range(10)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [20]:
# there can be more than one 'for' and 'if' clauses
combs = [(x,y) for x in range(2,7) for y in range(5,9) if x != y]
combs

[(2, 5),
 (2, 6),
 (2, 7),
 (2, 8),
 (3, 5),
 (3, 6),
 (3, 7),
 (3, 8),
 (4, 5),
 (4, 6),
 (4, 7),
 (4, 8),
 (5, 6),
 (5, 7),
 (5, 8),
 (6, 5),
 (6, 7),
 (6, 8)]

In [24]:
# for every tuple in combs add every element to list
[e for tup in combs for e in tup]

[2,
 5,
 2,
 6,
 2,
 7,
 2,
 8,
 3,
 5,
 3,
 6,
 3,
 7,
 3,
 8,
 4,
 5,
 4,
 6,
 4,
 7,
 4,
 8,
 5,
 6,
 5,
 7,
 5,
 8,
 6,
 5,
 6,
 7,
 6,
 8]

In [33]:
matrix = [[1,2,3,4], [5,6,7,8], [9,10,11,12]]

# create a list and add the first element
#[row[0] for row in matrix]

#transpose
# create a list for colum
[[row[col_num] for row in matrix] for col_num in range(4)]

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [55]:
# tuple
x = 12, 'Hello', 1.5
y = (x, 99, 'Moin')
y

# tuples are immutable
# y[0][0] = 13 # error

TypeError: 'tuple' object does not support item assignment

In [56]:
# set
basket = {'banana', 'apple', 'banana'}
basket

{'apple', 'banana'}

In [65]:
b = set('abcabc')
c = set('cdecde')

# Difference
b - c

# Intersection
b & c

# Union
b | c

# Symetric Difference, elements not in both sets
b ^ c

{'a', 'b', 'd', 'e'}

In [70]:
# dict
e = {'jacko':11, 'bill': 33}
e['house'] = 33

# get all keys in insert order
list(e)

# get all keys sorted
sorted(e)

# is 'bill' in the dict
'bill' in e

True

In [83]:
# looping through dict
for k,v in e.items():
   print(f'Key:{k} -- Value:{v}')

Key:jacko -- Value:11
Key:bill -- Value:33
Key:house -- Value:33

In [79]:
f = {'randy': 99, 'Jan': 88}

#combine two dictionaries
g = {**e, **f}

{'jacko': 11, 'bill': 33, 'house': 33, 'randy': 99, 'Jan': 88}

# Built-In Functions

In [86]:
list(zip(*matrix))

[1, 2, 3, 4] [5, 6, 7, 8] [9, 10, 11, 12]

# Collections

## Named Tuples

In [43]:
from collections import namedtuple

Color = namedtuple('Color', ['red', 'green', 'blue'])

a = Color(34, 78, 99)
a

Color(red=34, green=78, blue=99)

# String Formatting

In [101]:
for x in range(1,11):
    print(repr(x).rjust(2), repr(x*x).rjust(3), repr(x*x*x).rjust(4))

 1   1    1
 2   4    8
 3   9   27
 4  16   64
 5  25  125
 6  36  216
 7  49  343
 8  64  512
 9  81  729
10 100 1000